body {
    
    text-align:center;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
}
img{
    height: 305px;
    width: 295px;
    border-radius: 40%;
}

.container {
    width: 570px;
    margin:0 auto;
    text-align: center;
}
.bold{
    font-weight:900;
    display: block;
    color:#99d930
}


h1 {
    font-size: 80px;
    margin-bottom: 0;
    font-weight: lighter;
    
}

h2 {
    font-size: 60px;
    margin-bottom: 0;
    font-weight: lighter;
    
}

h3 {
    font-size: 36px;
    margin-bottom: 0;
}

h1 .bold{
    font-size: 80px;
}
h2 .bold{
    font-size: 60px;
}


small {
    font-size: 16px;
}

.header{
    padding: 100px 0;
    background-color:#252525;
}

.about-me {
    padding: 100px 0;
    background-color: #FFEAEA;
}

.articles {
    padding: 100px 0;
    background-color:#252525;
}

a {
    color: #a5a50e;
    text-decoration: none;
}

a:hover {
    color: #131313;
}

